#http-proxy=http://proxy.ubisoft.org:3128
#https-proxy=http://proxy.ubisoft.org:3128
#registry=https://artifactory.ubisoft.org/api/npm/npm/
#no_proxy=artifactory.ubisoft.org
strict-ssl=false
engine-strict=true
strict-peer-dependencies=false
